body{
    font-size: 1em;
    background-color: #006F48;
    color: #60D5AC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #000000;
border-radius: 4px;
box-sizing: border-box;
background-color: #00AB6F;}

input[type=submit], button {
    width: 100%;
    background-color: #FFD200;
    color:rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
}

.postst{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px;
  margin: 10px 0 0 0 ;
}