<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/gr.css">
    </head>
    <body>
        <center><a href="/push_post" width="600px"><button width="600">
            новая запись
        </button></a></center>
        <div>
        {% for post in posts %}
        <div class="postst">
            <table>
                <tr>
                    <td>
                        <p>{{ post.author.username }} says: <br> <b>{{ post.body }}</b></p>
                    </td>
                    <td width=35>
                        <a href="/post/{{ post.num }}"><img src="/static/share.png"></a>
                    </td>
                </tr>
            </table>
         </div>
        {% endfor %}
    </div>
    </body>
</html>