<html>
    <head>
        <title>Новая запись</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/gr.css">
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <div class="postst">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.username.label }}<br>
                            {{ form.username(size=32) }}
                        </p>
                        <p>
                            {{ form.p_text.label }}<br>
                            {{ form.p_text(size=32,autocomplete="off") }}
                        </p>
                        <p>{{ form.submit() }}</p>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>